<h1>Profile</h1>

<%= render "follow_relationships/follow-form" %>
<% if @user == current_user %>
  <p><%= link_to "All friend requests", follow_relationships_path %></p>
<% end %>

<p><%= link_to "Friendlist", friendlist_user_path %></p>


<h2><%= @user.name %></h2>
<%= image_tag @user.avatar, size: '960x540' %>

<h2>Documents I have viewed</h2>

<% if @histories.count > 0 %>
  <% @histories.each do |h| %>
    <p><%= h.document.description %></p>
  <% end %>
<% end %>
