<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Project 1", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <% unless logged_in? %>
        <li>
          <%= link_to "Sign up", new_user_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Log in", login_path, class: "nav-link" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Log out", logout_path, class: "nav-link", method: :delete %>
        </li>
        <li>
          <%= link_to "Upload a document", new_document_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "All users", users_path, class: "nav-link" %>
        </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Documents I have viewed", viewed_documents_user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Documents I have downloaded", downloaded_documents_user_path(current_user), class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= link_to "Your friends", friendlist_user_path(current_user), class: "dropdown-item" %>
        </div>
      </li>
    </ul>
    <% end %>
    <% if logged_in? %>
      <form class="form-inline my-2 my-lg-0">
        <%= render "layouts/admin-button" %>
      </form>
    <% end %>
  </div>
</nav>
